@charset "UTF-8";


/*====== body =======*/

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px; line-height: 1.5; color:black;
  cursor:pointer;}

#container {
  overflow:hidden; 
  /* border: 2px solid rgba(0,0,0,0.4);*/
  max-width:600px; 
  min-width:320px; 
  margin:auto; }


main{ width:100%; padding:0 10px }

header{ 
  position:relative;
  top:0; left:0; right:0;
  height:60px; 
  max-width:600px;
  min-width:340px; 
  margin:auto; 
  background: #fff; 
  z-index:200;
  box-shadow:2px,2px,2px,2px rgba(0,0,0,0.4);
}



header.on{
  background: black; 
}




.header_left, 
.header_right, 
.header_center{
  position:absolute; 
  top:6px;}


.header_left { 
  background:#2F5586; 
  width:42px; 
  height:42px; 
  border-radius: 50%;
  left:18px; }

.header_left > i{ 
  position:absolute;
  left:10px; top:10px; 
  font-size:24px; 
  color:rgb(255, 255, 255);
}

.header_center {  
  left:50%;
  transform:translate(-50%);
}

.header_right { 
    right:18px; }
  

.header_right > i { 
    font-size:35px;}
  







/*------- swiper ----- */



swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 80%;
  height:80%;
  object-fit: cover;
}



/*------- main 과목 검색란 ----- */

.search {
  position:relative;
  height:50px;
  border-radius:10px;
  line-height: 44px;

  background:#eeeeee;
  border:1px solid rgba(0,0,0,0.2);
  margin:10px auto;
  }

.search_select { 
  position:absolute; 
  width:135px; 
  z-index:100;
  top:-6px; left:6px;
  }

.search_select ul{
  position:absolute; 
  right:50px;
  display: none;
  background: white;
  padding:10px 0;
  border:1px solid #ccc;
  border-radius:0 0 20px 20px;
  border-top:0;
  }

.search_select > span {
  display:inline-block;
  width:100px; height:50px;
  cursor: pointer; 
  padding:8px 0 0 0;  
  box-sizing: border-box;
  font-weight: 600;
  font-size:14px;
  border:1px solild transparent;
  text-align: center;
}

.search_select li{
  padding:7px 15px;
}
.search_select a{ font-size:15px;}
.search_select a:hover{
  text-decoration:underline;
}


.search_text{
  position:absolute; 
  top:10px;
  margin:0px 0 0 100px;
  height:30px;
  border-left:1px solid #777474;
  padding:15px;
  outline:none;
  background:transparent;}

.search_text::placeholder {
  color: #ddd;}


.search_btn{
  position: absolute;
  right:10px; top:10px;
  height:30px;
  width:30px;
  background: url('../img/search.png') center/cover;
  text-indent:-1;
  color:transparent;
  cursor: pointer;

}






/*------ 접수기간  ------*/

.apply_wrap { 
  color: #666666; 
  border-radius: 20px;
  padding:20px;
  margin:30px 10px 30px;
}


.apply_tap > span {
  color: #666666;
  font-size:18px;
  padding-top:1%;
  padding-bottom:3%;
  font-weight: 600;
}

.apply_tap button { 
  color:white;
  background: #2F5586;
  border-radius:10px;
  padding:10px;
  font-size:12px;
  
}

.apply_tap { 
  display:flex;
  justify-content:space-between;
}


.apply_wrap >.apply_list {  
background:#fff;
white-space:pre-line;
overflow:hidden;
height:0px; 
}

.apply_wrap.active > .apply_list.active {  
  height:200px; }

.apply_wrap > ul > i {
  margin:10px 0;}
  






.title { 
  color:#2F5586;
  font-size:15px;
  font-weight:600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day { 
  padding:0 10px; 
  margin-bottom: 5px;}


/*------ main button - 아이콘  ------*/

.content {  
  padding:12px; 
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  row-gap:20px;
  column-gap:4%; 

}

.content > .content_box { 
  width:48%; 
  height:180px;
  padding:2% 0;
  border-radius:30px;
  background: #eee;
  text-align: center; 
  align-items: center;
  }


  .content > .content_box > img{ 
    padding-top:10px;
  }


/* .content > .content_box:hover { 
    background:rgba(36, 35, 35, 0.8); 
    padding-bottom:20px;
  }
    
   */
.content > .content_box:hover{ 
  display: inlin-block;
  background:rgba(36, 35, 35, 0.8);
  color:white; 
  z-index: 100;
  padding-bottom:20px;
  font-size:18px;
  font-weight:700;
  overflow: hidden;
  border:2px sloid red;
}
  



.slide {
  text-align: center;
}



/*------ 공지사항 / 자료실 ------*/

.board {
  display:block;
  background:white;
  border: 2px solid #ddd;
  border-radius:10px;
  padding: 30px;
}
  
.board > .notice > span {
  display:block;
  font-size:16px;
  font-weight:600;} 


.notice > ul {  }


.notice > ul > li { 
  margin-bottom:5px;}

.notice > ul > li:hover { 
  font-weight: bold;}
  





/*------고객지원------*/

.client{
 display: flex;
 justify-content:space-between;
 margin-top: 20px;
}


.client > .call {
  border-radius:10px; 
  border: 2px solid #ddd;
  padding: 30px;
  text-align:center;
  
}

.client >.call > img{
  width:24px;  
}

.client > .call > span {
 font-weight:600;
}


.client > .call > .call_num{ 
  font-size:22px;
  font-weight:800;
  
}




/*------slider------*/
.client > .visual {
 margin-right:10%;;
 padding-top:10%;
}

.client > .visual > img { 
  width:200px;
  margin:20px;
  
}


/*------ footer ------*/

footer { 
  margin-top: 40px;
  border-top:1px solid rgba(0,0,0,0.4);
}


footer > .add_info {
  text-align: center;
  margin-top:10px;
  padding:20px; }


footer > .add_info > img {
}

footer > .add_info > span { font-weight:800; }





